@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-3">Welcome to My FreeForm Form</h1>
        <p class="lead">The ultimate solution for dynamic form creation and management.</p>
        <hr class="my-4">
        <p>Start building and managing your forms with ease. Explore the documentation to learn more.</p>
@*         <a class="btn btn-primary btn-lg" href="https://learn.microsoft.com/aspnet/core" role="button">Learn More</a> *@
        <a class="btn btn-primary btn-lg" href="@Url.Action("MarkdownPage", "MarkDown")" role="button"> Learn More</a>

    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create Forms</h5>
                    <p class="card-text">Easily View, edit, manage, design and create customizable forms to fit your needs.</p>
                    <a href="Forms/dynamic" class="btn btn-secondary">Start Creating</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Form Reports</h5>
                    <p class="card-text">Get statistical information from your form data with multiple chart options </p>
                    <a href="/Statistics" class="btn btn-secondary">Manage Forms</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Search Forms</h5>
                    <p class="card-text">Search through specific data in your forms with ease.</p>
                    <a href="/search" class="btn btn-secondary">Search Forms</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h2>About My FreeForm Form</h2>
                <p class="lead">My Free Form Form is built with ASP.NET Core, leveraging the best practices for modern web development. It allows users to dynamically create, manage, and integrate forms with various data sources.</p>
                <hr class="my-4">
                <p>It's designed to be intuitive, flexible, and powerful, providing a seamless experience from form creation to data integration.</p>
                <a class="btn btn-primary btn-lg" href="/About" role="button">Learn more about us</a>
            </div>
        </div>
    </div>

</div>
