@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

    <p>
        Effective date: 03/21/2024
        Last updated: 04/21/2024
    </p>

    My Freeform Forms ("us", "we", or "our") operates https://www.butlerdevlabs.com (the "Site"). This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive from users of the Site.

    We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.

    Information Collection and Use

    While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, and phone number ("Personal Information").

    We may also collect information about your usage of the Site, such as pages visited and files downloaded, in order to analyze and improve the Site.

    Information Security

    We take the security of your Personal Information very seriously. We use industry-standard measures to protect your Personal Information from unauthorized access, disclosure, alteration, or destruction. All file upload and download information will be secured.

    However, please be aware that no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee the absolute security of your Personal Information.

    Sharing of Information

    We do not sell or rent your Personal Information to third parties. We may share your Personal Information with third-party service providers who perform services on our behalf, such as hosting, data analysis, and customer service.

    We may also disclose your Personal Information if required to do so by law or in response to a subpoena or court order.

    Your Choices

    You have the right to access, correct, or delete your Personal Information at any time. You can do so by contacting us at support@rcndevlabs.com. Please note that we may need to retain certain information for legal or administrative purposes.

    Policy Changes

    We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.

    Contact Us

    If you have any questions about this Privacy Policy, please contact us at support@rcndevlabs.com.
</p>
