@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MyFreeFormForm.Models.MyFreeFormModel

<form asp-action="SubmitForm" method="post">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" />
    </div>
    <button type="submit">Submit</button>
</form>
