@using MyFreeFormForm.Models
@model List<MyFreeFormForm.Models.FormNotes>

<div id="formNotes">
    <div id="formNotesList">
        <ul>
            @foreach (var formNote in Model)
            {
                foreach (var note in formNote.Notes)
                {
                    <li>@note</li>

              @*      <li>
                       <a href="/"></a>
                   </li> *@

                }
            }
        </ul>
    </div>
</div>

