@{
    var groupedForms = ViewBag.formInstance as Dictionary<string, List<int>>;
}

<ul>
    @foreach (var group in groupedForms)
    {
        <li>
            <span class="clickable-text" onclick="loadForms('@String.Join(",", group.Value)')"> @group.Key </span>
        </li>
    }
</ul>