@using MyFreeFormForm.Helpers
@model MyFreeFormForm.Models.DynamicFormModel
@using MyFreeFormForm.Models

<div id="Btn-Div" >
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
        Upload Excel/CSV File
    </button>
    <button type="button" id="addFieldBtn" class="btn btn-primary">Add Field</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
<div id="dynamicForm">
    <form asp-action="SubmitDynamicForm" asp-route-action="dynamic" method="post">
        <div>
            <label for="FormName">Form Name</label>
            <input type="text" id="FormName" name="FormName" class="form-control" />
        </div>
        <div>
            <label for="Description">Description</label>
            <input type="text" id="Description" name="Description" class="form-control" />
        </div>

    @for (int i = 0; i < Model.Fields.Count; i++)
    {   <div class="form-group dynamic-field" id="field-group-@i">
            <label>@Model.Fields[i].FieldName</label>
            <input type="@Model.Fields[i].FieldType.ToString().ToLower()" name="Fields[@i].FieldName" class="form-control" />
          
            <!-- Include a button to remove the field -->
            <button type="button" class="remove-field-btn">Remove</button>
        </div>
    }    
</form>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="uploadForm" asp-controller="Forms" asp-action="UploadFile" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="fileUpload" class="form-label">Select file</label>
                        <input type="file" class="form-control" id="fileUpload" name="fileUpload">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Carousel -->
<div id="dataCarousel" class="carousel slide" style="display: none;">
    <div id="carouselInner" class="carousel-inner">
        <div>
            <label for="FormName">Form Name</label>
            <input type="text" id="FormName" name="FormName" class="form-control" />
        </div>
        <div>
            <label for="Description">Description</label>
            <input type="text" id="Description" name="Description" class="form-control" />
        </div>

        @for (int i = 0; i < Model.Fields.Count; i++)
        {            
            <div class="carousel-item @if(i == 0) {<text>active</text>}">
                <form asp-action="SubmitDynamicForm" method="post">
                    <div class="form-group dynamic-field" id="field-group-@i">
                        <label>@Model.Fields[i].FieldName</label>
                        <input type="@Model.Fields[i].FieldType.ToString().ToLower()" name="Fields[@i].FieldName" class="form-control" />
                        <!-- Include a button to remove the field -->
                        <button type="button" class="remove-field-btn">Remove</button>
                    </div>
                </form>
            </div>
        }
    </div>
    <button id="customPrevBtn" class="btn btn-info">Previous</button>
    <button id="customNextBtn" class="btn btn-info">Next</button>
    <div class="carousel-index" aria-live="polite">
        <span id="currentSlide">1</span> of <span id="totalSlides">X</span>
    </div>
</div>
<button id="submitData" class="btn btn-primary" style="display: none;">Submit Data </button>

@*//TODO: Need to implement this progress tracker for files with over 100 rows*@
<!-- Loading Screen -->
<div id="loadingScreen" class="loading-screen" style="display: none;">
    <div class="progress">
        <div id="loadingProgressBar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Loading...</div>
    </div>
</div>

