@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MyFreeFormForm.Models.StaticFormModel

<form asp-action="SubmitStaticForm" method="post">
    <div>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
