@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="Forms" asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="fileUpload">Upload Excel/CSV File</label>
        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
