
@{
    ViewData["Title"] = "Admin Page";
}
<div class="text-center">
    <h1 class="display-4">Admin Page</h1>
     
</div>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
</li>